<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/app.js" defer></script>
    <title>Order Manager</title>
</head>
<body>
    <a href="/dashboard">
        <button type="">Events</button>
    </a>
    <a href="/orders/new">
        <button type="">Create Order</button>
    </a>
</body>
</html>